<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <!-- LOGO -->
  <div class="navbar-brand-box">
    <a href="/index" class="logo logo-dark">
      <span class="logo-sm">
        <img src="/assets/images/logo-sm.svg" alt="" height="22">
      </span>
      <span class="logo-lg">
        <img src="/assets/images/logo-sm.svg" alt="" height="22"> <span class="logo-txt">Symox</span>
      </span>
    </a>

    <a href="/index" class="logo logo-light">
      <span class="logo-lg">
        <img src="/assets/images/logo-sm.svg" alt="" height="22"> <span class="logo-txt">Symox</span>
      </span>
      <span class="logo-sm">
        <img src="/assets/images/logo-sm.svg" alt="" height="22">
      </span>
    </a>
  </div>

  <button type="button" class="btn btn-sm px-3 font-size-16 header-item vertical-menu-btn">
    <i class="fa fa-fw fa-bars"></i>
  </button>

  <div data-simplebar class="sidebar-menu-scroll">

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" data-key="t-menu">Menu</li>

        <li>
          <a href="/index">
            <i class="bx bx-tachometer icon nav-icon"></i>
            <span class="menu-item" data-key="t-dashboards"><%=translation.t_starter_page %></span>
            <span class="badge rounded-pill bg-success">5+</span>
          </a>
        </li>

       

        <li class="menu-title" data-key="t-pages"><%=translation.t_pages %></li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i class="bx bx-user-circle icon nav-icon"></i>
            <span class="menu-item" data-key="t-authentication"><%=translation.t_authentication %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/auth-login" data-key="t-login"><%=translation.t_signin %></a></li>
            <li><a href="/auth-register" data-key="t-register"><%=translation.t_signup %></a></li>
            <li><a href="/auth-recoverpw" data-key="t-recover-password"><%=translation.t_forgot_password %></a></li>
            <li><a href="/auth-lock-screen" data-key="t-lock-screen"><%=translation.t_lock_screen %></a></li>
            <li><a href="/auth-logout" data-key="t-logout"><%=translation.t_signout %></a></li>
            <li><a href="/auth-confirm-mail" data-key="t-confirm-mail"><%=translation.t_confirm_mail %></a></li>
            <li><a href="/auth-email-verification" data-key="t-email-verification"><%=translation.t_email_verification %></a></li>
            <li><a href="/auth-two-step-verification" data-key="t-two-step-verification"><%=translation.t_2step_verification %></a></li>
          </ul>
        </li>

       
        <li>
          <a href="/layouts-vertical">
            <i class="bx bx-layout icon nav-icon"></i>
            <span class="menu-item" data-key="t-vertical"><%=translation.t_vertical %></span>
          </a>
        </li>

        <li class="menu-title" data-key="t-components"><%=translation.t_components %></li>

    
        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i class="bx bx-share-alt icon nav-icon"></i>
            <span class="menu-item" data-key="t-multi-level"><%=translation.t_multi_level %></span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="javascript: void(0);" data-key="t-level-1.1"><%=translation.t_level_1_1 %></a></li>
            <li><a href="javascript: void(0);" class="has-arrow" data-key="t-level-1.2"><%=translation.t_level_1_2 %></a>
              <ul class="sub-menu" aria-expanded="true">
                <li><a href="javascript: void(0);" data-key="t-level-2.1"><%=translation.t_level_2_1 %></a></li>
                <li><a href="javascript: void(0);" data-key="t-level-2.2"><%=translation.t_level_2_2 %></a></li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->