<%- contentFor('HeaderCss') %>
<%- include("partials/title-meta", {"title": "Accueil"}) %>

<!-- nouisliderribute css -->
<link rel="stylesheet" href="/assets/libs/nouislider/nouislider.min.css">

<!-- color picker css -->
<link rel="stylesheet" href="/assets/libs/@simonwep/pickr/themes/classic.min.css"/> <!-- 'classic' theme -->
<link rel="stylesheet" href="/assets/libs/@simonwep/pickr/themes/monolith.min.css"/> <!-- 'monolith' theme -->
<link rel="stylesheet" href="/assets/libs/@simonwep/pickr/themes/nano.min.css"/> <!-- 'nano' theme -->
<link rel="stylesheet" href="/assets/libs/gridjs/theme/mermaid.min.css">

<!-- datepicker css -->
<link rel="stylesheet" href="/assets/libs/flatpickr/flatpickr.min.css">
<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">Classement</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Classement</a></li>
                    <li class="breadcrumb-item active">Classement</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h5>Classement</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Global</h6>
                                    <div id="global-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Futsal masculin</h6>
                                    <div id="futsal-m-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Basketball masculin</h6>
                                    <div id="basketball-m-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Handball masculin</h6>
                                    <div id="handball-m-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Futsal féminin</h6>
                                    <div id="futsal-f-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Basketball féminin</h6>
                                    <div id="basketball-f-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Handball féminin</h6>
                                    <div id="handball-f-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Cheerleading</h6>
                                    <div id="cheerleading-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Ambiance</h6>
                                    <div id="ambiance-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Fifa</h6>
                                    <div id="fifa-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6>Mario Kart</h6>
                                    <div id="mariokart-table"></div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
</div>

</div>

<%- contentFor('FooterJs') %>


<!-- gridjs js -->
<script src="/assets/libs/gridjs/gridjs.umd.js"></script>


<script src="/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

<!-- color picker js -->
<script src="/assets/libs/@simonwep/pickr/pickr.min.js"></script>
<script src="/assets/libs/@simonwep/pickr/pickr.es5.min.js"></script>

<!-- datepicker js -->
<script src="/assets/libs/flatpickr/flatpickr.min.js"></script>
<script src="/assets/js/pages/form-validation.init.js"></script>
<script>

    new gridjs.Grid({
        columns: ["Ecole", "Points", "Futsal M", "Handball M", "Basketball M", "Futsal F", "Handball F", "Basketball F", "Bonus", "Cheerleading", "Ambiance", "Fifa", "Mk"],
        data: async () => {
            var globalData = <%- JSON.stringify(globalRanking) %>;
            var futsalMaleData = <%- JSON.stringify(futsalMaleRanking) %>;
            var futsalFemaleData = <%- JSON.stringify(futsalFemaleRanking) %>;
            var basketballMaleData = <%- JSON.stringify(basketballMaleRanking) %>;
            var basketballFemaleData = <%- JSON.stringify(basketballFemaleRanking) %>;
            var handballMaleData = <%- JSON.stringify(handballMaleRanking) %>;
            var handballFemaleData = <%- JSON.stringify(handballFemaleRanking) %>;
            var cheerleading = <%- JSON.stringify(cheerleading) %>;
            var ambiance = <%- JSON.stringify(ambiance) %>;
            var fifa = <%- JSON.stringify(fifa) %>;
            var mk = <%- JSON.stringify(mk) %>;

            return globalData.map((e) => {
                let futsalMaleEntry = futsalMaleData.find((futsal) => futsal.team === e.name);
                let fustaleFemaleEntry = futsalFemaleData.find((futsal) => futsal.team === e.name);
                let basketballMaleEntry = basketballMaleData.find((basketball) => basketball.team === e.name);
                let basketballFemaleEntry = basketballFemaleData.find((basketball) => basketball.team === e.name);
                let handballMaleEntry = handballMaleData.find((handball) => handball.team === e.name);
                let handballFemaleEntry = handballFemaleData.find((handball) => handball.team === e.name);
                let cheerleadingEntry = cheerleading.find((cheer) => cheer.name === e.name);
                let ambianceEntry = ambiance.find((amb) => amb.name === e.name);
                let fifaEntry = fifa.find((f) => f.name === e.name);
                let mkEntry = mk.find((m) => m.name === e.name);

                var futsalMPoints = futsalMaleEntry ? futsalMaleEntry.pointsToShow : 0;
                var futsalFPoints = fustaleFemaleEntry ? fustaleFemaleEntry.pointsToShow : 0;
                var basketballMPoints = basketballMaleEntry ? basketballMaleEntry.pointsToShow : 0;
                var basketballFPoints = basketballFemaleEntry ? basketballFemaleEntry.pointsToShow : 0;
                var handballMPoints = handballMaleEntry ? handballMaleEntry.pointsToShow : 0;
                var handballFPoints = handballFemaleEntry ? handballFemaleEntry.pointsToShow : 0;
                var cheerleadingPoints = cheerleadingEntry ? cheerleadingEntry.score : 0;
                var ambiancePoints = ambianceEntry ? ambianceEntry.score : 0;
                var fifaPoints = fifaEntry ? (fifaEntry.fifaPosition == 1 ? 50 : 0) : 0;
                var mkPoints = mkEntry ? (mkEntry.mkPosition == 1 ? 50 : 0) : 0;

                var pointsWithoutBonus = futsalMPoints + handballMPoints + basketballMPoints + futsalFPoints + handballFPoints + basketballFPoints + cheerleadingPoints + ambiancePoints + fifaPoints + mkPoints;
                var bonusValue = e.totalPoints - pointsWithoutBonus;

                return [e.name, e.totalPoints, futsalMPoints, handballMPoints, basketballMPoints, futsalFPoints, handballFPoints, basketballFPoints, bonusValue, cheerleadingPoints, ambiancePoints, fifaPoints, mkPoints];
            });
        },
    }).render(document.getElementById("global-table"));

    new gridjs.Grid({
        columns: ["Ecole", "Points"],
        data: async () => {
            var data = <%- JSON.stringify(futsalMaleRanking) %>;
            return data.map((e) => [e.team, e.pointsToShow]);       
        },
    }).render(document.getElementById("futsal-m-table"));


    new gridjs.Grid({
        columns: ["Ecole", "Points"],
        data: async () => {
            var data = <%- JSON.stringify(basketballMaleRanking) %>
            return data.map((e) => [e.team, e.pointsToShow]);       
        },
    }).render(document.getElementById("basketball-m-table"));

    new gridjs.Grid({
        columns: ["Ecole", "Points"],
        data: async () => {
            var data = <%- JSON.stringify(handballMaleRanking) %>
            return data.map((e) => [e.team, e.pointsToShow]);       
        },
    }).render(document.getElementById("handball-m-table"));

    new gridjs.Grid({
        columns: ["Ecole", "Points"],
        data: async () => {
            var data = <%- JSON.stringify(futsalFemaleRanking) %>
            return data.map((e) => [e.team, e.pointsToShow]);       
        },
    }).render(document.getElementById("futsal-f-table"));

    new gridjs.Grid({
        columns: ["Ecole", "Points"],
        data: async () => {
            var data = <%- JSON.stringify(basketballFemaleRanking) %>
            return data.map((e) => [e.team, e.pointsToShow]);       
        },
    }).render(document.getElementById("basketball-f-table"));

    new gridjs.Grid({
        columns: ["Ecole", "Points"],
        data: async () => {
            var data = <%- JSON.stringify(handballFemaleRanking) %>
            return data.map((e) => [e.team, e.pointsToShow]);       
        },
    }).render(document.getElementById("handball-f-table"));

    new gridjs.Grid({
        columns: ["Ecole", "Points"],
        data: async () => {
            var data = <%- JSON.stringify(cheerleading) %>
            return data.map((e) => [e.name, e.score])
        },
    }).render(document.getElementById("cheerleading-table"));

    new gridjs.Grid({
        columns: ["Ecole","Points"],
        data: async () => {
            var data = <%- JSON.stringify(ambiance) %>
            return data.map((e) => [e.name, e.score])
        },
    }).render(document.getElementById("ambiance-table"));

    new gridjs.Grid({
        columns: ["Ecole", "Classement"],
        data: async () => {
            var data = <%- JSON.stringify(fifa) %>
            return data.map((e) => [e.name, e.fifaPosition]);
        },
    }).render(document.getElementById("fifa-table"));

    new gridjs.Grid({
        columns: ["Ecole", "Classement"],
        data: async () => {
            var data = <%- JSON.stringify(mk) %>
            return data.map((e) => [e.name, e.mkPosition]);
        },
    }).render(document.getElementById("mariokart-table"));
</script>