<%- contentFor('HeaderCss') %>
<%- include("partials/title-meta", {"title": "Accueil"}) %>

<!-- nouisliderribute css -->
<link rel="stylesheet" href="/assets/libs/nouislider/nouislider.min.css">

<!-- color picker css -->
<link rel="stylesheet" href="/assets/libs/@simonwep/pickr/themes/classic.min.css"/> <!-- 'classic' theme -->
<link rel="stylesheet" href="/assets/libs/@simonwep/pickr/themes/monolith.min.css"/> <!-- 'monolith' theme -->
<link rel="stylesheet" href="/assets/libs/@simonwep/pickr/themes/nano.min.css"/> <!-- 'nano' theme -->
<link rel="stylesheet" href="/assets/libs/gridjs/theme/mermaid.min.css">

<!-- datepicker css -->
<link rel="stylesheet" href="/assets/libs/flatpickr/flatpickr.min.css">
<%- contentFor('breadcrumb') %>

<%- contentFor('body') %>

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h5>Gestion de tournois</h5>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    <div class="row justify-content-center">
                        <div class="d-flex flex-column align-items-center col-md-6 mb-4 male-button-container">
                            <button type="button" class="btn btn-primary waves-effect waves-light mb-3" onclick="createTournament()">Créer les tournois</button>
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="deleteTournament()">Supprimer les tournois</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="button-container" class="d-flex justify-content-center"></div>
                        <div class="card-body">
                            <div id="match-table-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>

<%- contentFor('FooterJs') %>

<!-- gridjs js -->
<script src="/assets/libs/gridjs/gridjs.umd.js"></script>


<script>
    async function createTournament() {
        try {
            await fetch(`/tournament/create/Masculin`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
            });
            await fetch(`/tournament/create/Féminin`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
            });
            
            window.location.reload();
        } catch (error) {
            console.error('Erreur:', error);
        }
    }

    async function deleteTournament() {
        try {
            await fetch(`/tournament/delete`, {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
            });

            window.location.reload();
        } catch (error) {
            console.error('Erreur:', error);
        }
    }

    // var scoreGrid = new gridjs.Grid({
    //     columns: [
    //         "Equipe 1", 
    //         "Equipe 2", 
    //         {
    //             name: "Score Equipe 1",
    //             formatter: (cell, row) => {
    //                 return gridjs.html(`<span class="editable-score1" data-id="${row.cells[0].data}-${row.cells[1].data}">${cell}</span>`);
    //             }
    //         },
    //         {
    //             name: "Score Equipe 2",
    //             formatter: (cell, row) => {
    //                 return gridjs.html(`<span class="editable-score2" data-id="${row.cells[0].data}-${row.cells[1].data}">${cell}</span>`);
    //             }
    //         },
    //         "Vainqueur",
    //         {
    //             name: "Temps Final",
    //             formatter: (cell, row) => {
    //                 return gridjs.html(`<span class="editable-time" data-id="${row.cells[0].data}-${row.cells[1].data}">${cell}</span>`);
    //             }
    //         },
    //         {
    //             name: "Validation",
    //             formatter: (cell, row) => {
    //                 return gridjs.html(`<button class="btn btn-success validate-button" data-id="${row.cells[0].data}-${row.cells[1].data}">Valider score</button>`);
    //             }
    //         },
    //         {
    //             name: "Réinitialiser",
    //             formatter: (cell, row) => {
    //                 return gridjs.html(`<button class="btn btn-success clear-button" data-id="${row.cells[0].data}-${row.cells[1].data}">Réinitialiser</button>`);
    //             }
    //         }
    //     ],
    //     data: async () => {
    //         var data = await fetch("", {
    //             headers: {
    //                 'Accept': 'application/json',
    //                 'Content-Type': 'application/json'
    //             },
    //         })
    //         .then((response) => response.json());

    //         const filteredData = data.filter(e => e.pool === 'Poule 1').map(e => [
    //             e.team1, 
    //             e.team2, 
    //             `${e.score.team1Score}`,
    //             `${e.score.team2Score}`,
    //             e.winnerTeam,
    //             e.time
    //         ]);

    //         return filteredData;
    //     },
    //     sort: true
    // }).render(document.getElementById("match-table-pagination"));
</script>